<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/login">BancoSim</a>
      <img src="/assets/images/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="btnprincipal" aria-current="page" routerLink="/login"><label for="">Inicio</label></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-item dropdown-toggle btnprincipal" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <label for="">Cuentas</label>
            </a>
            <ul class="dropdown-menu btnprincipal goldcolor" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/account">Ver productos</a></li>
              <li><a class="dropdown-item" href="/edit">Configuración</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-item dropdown-toggle btnprincipal" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <label for="">Transacciones</label>
            </a>
            <ul class="dropdown-menu btnprincipal goldcolor" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/transactions/1">Transferir</a></li>
              <li><a class="dropdown-item" href="/transactions/2">Pagar productos</a></li>
              <li><a class="dropdown-item" href="/transactions/3">Pagar Facturas</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-item active btnprincipal" aria-current="page" routerLink="/register"><label for="">Registro</label></a>
          </li>
          <li class="nav-item">
            <a class="nav-item active btnprincipal" (click)="openDialog()"><label for="" class="btn-navbar">Log Out</label></a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <hr>
  <!-- <p class="footer">
    Esta aplicación web hace parte del proyecto de grado "Simulación del ataque CSRF por medio de una aplicación web con
    enfoque explicativo" realizado para obtener el título de Ingeniero en Telecomunicaciones de la Universidad Distrital
    Francisco José de Caldas. Desarrollado por July Rodriguez y Alexander Gonzalez junto con el docente Jacinto Gomez
    como director.</p> -->