nav,
a,
.goldcolor {
    color: black;
    font-weight: bold;
    background-color: darkgoldenrod;
    align-items: center;
    justify-content: center;
}

div ul li ul {
    color: black;
    font-weight: bold;
    background-color: darkgoldenrod;
    align-items: center;
    justify-content: center;
}

.btnprincipal {
    margin-left: 140px;
} 