/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 20px;
}
html {
  height: 100%;
}
 body {
  min-height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(180deg, rgba(12, 22, 24, 1) 60%, rgba(128, 128, 128, 1) 100%);
    // background: linear-gradient(180deg, rgba(230, 175, 27, 1) 40%, rgb(0, 0, 0) 150%);
}

/* nav,
a,
.goldcolor {
    color: black;
    font-weight: bold;
    background-color: darkgoldenrod;
    align-items: center;
    justify-content: center;
}

div ul li ul {
    color: black;
    font-weight: bold;
    background-color: darkgoldenrod;
    align-items: center;
    justify-content: center;
}

.btnprincipal {
    margin-left: 140px;
} */

.mat-checkbox-indeterminate, .mat-checkbox-checked {
    &.mat-primary .mat-checkbox-background {
      background-color: #0C1618 !important;
    }
}
