<loading-animation *ngIf="loader; else content"></loading-animation>
<ng-template #content>
  <p class="descriptiontransaction">Movimientos</p>
  <div class="contenedor">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nro de transaccion</th>
          <th scope="col">Cuenta origen</th>
          <th scope="col">Cuenta destino</th>
          <th scope="col">Fecha</th>
          <th scope="col">Tipo de transaccion</th>
          <th scope="col">Monto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of movimientos">
          <th scope="row">{{item.code}}</th>
          <td>{{item.originAccount}}</td>
          <td>{{item.destinyAccount}}</td>
          <td>{{item.date}}</td>
          <td>{{item.typeMov}}</td>
          <td>{{item.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>