.home {
    position: relative;
    display: flex;
}

.home img {
    position: relative;
    display: flex;
    height: 600px;
    width: auto;
    margin-top: 140px;
    margin-left: -250px;
}

.objects {
    display: flex;
}

.contenedor {
    padding: 20px;
    float: left;
    border-radius: 20px;
    margin-top: 230px;
    width: 450px;
    height: 300px;
    background-color: goldenrod;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: -120px;
}

.home-name{
    float: left;
    margin-left: 80px;
    margin-top: 50px;
    font-size: 120px;
    font-weight: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-home-title{
    font-size: 50px;
}

.example-h2 {
    margin: 10px;
}
  
.example-margin {
    margin: 0 10px;
    color: black;
    size: 80px;
}



