<header class="header">
  <div class ="container">
    <div class="logo">
      <label for="" class="title-logo">BancoSim</label>
      <img src="/assets/images/logo.png" alt="">
    </div>
    <nav *ngIf="permits === null || permits.length === 0; else navUser">
      <ul class="nav-links">
          <li><a (click)="redirectTo(URLS.INIT)" role="button">Inicio</a></li>
          <li *ngIf="dataUser"><a class="dropdown-item" (click)="redirectTo(URLS.ACOUNT)" role="button">Agregar productos</a></li>
          <li *ngIf="dataUser"><a class="nav-item dropdown-toggle btnprincipal" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Transacciones</a>
              <ul class="dropdown-menu btnprincipal goldcolor" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" (click)="redirectTo(URLS.TRANSACTIONS+'/1')" role="button">Transferir</a></li>
                  <li><a class="dropdown-item" (click)="redirectTo(URLS.TRANSACTIONS+'/2')" role="button">Pagar productos</a></li>
              </ul>
          </li>
          <li *ngIf="!dataUser"><a (click)="registerRedirect()" role="button">Registro</a></li>
          <li *ngIf="dataUser"><a class="dropdown-item" (click)="redirectTo(URLS.EDIT)"role="button">Configuración</a></li>
          <li *ngIf="dataUser"><a (click)="logOut()" role="button">Log Out</a></li>
      </ul>
  </nav>
  <ng-template #navUser>
    <nav>
      <ul class="nav-links">
        <ng-container *ngFor="let permit of permits">
          <li *ngIf="permit.state === 'A'">
            <a *ngIf="permit.children.length === 0" (click)="redirectTo(permit.url)" role="button">{{permit.name}}</a>
            <a *ngIf="permit.children.length > 0" class="nav-item dropdown-toggle btnprincipal" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">{{permit.name}}</a>
              
                <ul class="dropdown-menu btnprincipal goldcolor" aria-labelledby="navbarDropdown">
                  <ng-container *ngFor="let childrenPermit of permit.children">
                  <li *ngIf="childrenPermit.state == 'A'">
                    <a class="dropdown-item" (click)="redirectTo(childrenPermit.url)" role="button">{{childrenPermit.name}}</a>
                  </li>
                  <!-- <li><a class="dropdown-item" (click)="redirectTo(URLS.TRANSACTIONS+'/2')" role="button">Pagar productos</a></li> -->
                </ng-container>
                </ul>
              
          </li>
        </ng-container>
          <li *ngIf="!dataUser"><a (click)="registerRedirect()" role="button">Registro</a></li>
          <li *ngIf="dataUser"><a class="dropdown-item" (click)="redirectTo(URLS.EDIT)"role="button">Configuración</a></li>
          <li *ngIf="dataUser"><a (click)="logOut()" role="button">Log Out</a></li>
      </ul>
  </nav>
  </ng-template>

  </div>

</header>
