.example-card {
    width: 300px;
    height: 400px;
    background-color: darkgoldenrod;
    margin-left: 50px
    
}

.contenedor {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-account {
    height: 180px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;

}