<div class="contenedor">
    <div class="items"></div>
    <label class="label_title" for="" id="saldo_init">Saldo disponible:</label>
    <br>
    <img src="https://cdn-icons-png.flaticon.com/512/1611/1611179.png" class="icon_account" alt="">
    <label class="label_title disp" for="" id="saldo_disp">$300.000</label>
</div>
<div class="contenedor">
    <div class="items"></div>
    <label class="label_title" for="" id="saldo_init">Saldo disponible 2:</label>
    <br>
    <img src="https://cdn-icons-png.flaticon.com/512/1611/1611179.png" class="icon_account" alt="">
    <label class="label_title disp" for="" id="saldo_disp">$300.000</label>
</div>