.title-position{
    margin-top: 2em;
    margin-left: 2em;
}

.title-accounts-cards{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 30px;
    font-weight: 500px;
    color: #CACFD2;
    margin-bottom: .5em;
}

.title-select-cards {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 500px;
    color: #CACFD2;
}

.contenedor {
    padding: 20px;
    float: left;
    border-radius: 20px;
    margin-top: 2em;
    margin-left: 2em;
    width: 350px;
    height: 200px;
    background-color: #96BDC6;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    &:hover{
        background-color: #85abb3;
    }
}
.contenedorCredito {
  padding: 20px;
  float: left;
  border-radius: 20px;
  margin-top: 2em;
  margin-left: 2em;
  width: 350px;
  height: 200px;
  background-color: #EF5A5A;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  &:hover{
      background-color: #d14747;
  }
}

.items {
    align-items: center;
    align-content: center;
}

.label_title {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: 500px;
    color: #000;
}

.label_num_account {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500px;
    color: #000;
}

.label_balance{
    margin-left: 8em;
    font-size: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #1B2631;
}

.disp {
    padding-left: 40px;
}

.icon_account {
    height: 75px;
}

.options_cards {
    padding-left: 80px;
}

.option {
    padding: 4px;
    background-color: #1B2631;
    color: #CACFD2;
    border-radius: 7px;
    margin-left: 5px;
    border-style: none;
}
