<!-- <p class="descriptiontransaction">{{tittle}}</p>
<div class="contenedor">
  <form class="was-validated" [formGroup]="formtransaction">
    <div class="mb-3">
      <label for="exampleFormControlInput1 validationTextarea" class="form-label" style="font-weight: bold">Cuenta de
        Origen</label>
      <input type="number" class="form-control in-invalid" id="exampleFormControlInput1 validationTextarea" name="origin" required
        formControlName="origen">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1 validationTextarea" class="form-label" style="font-weight: bold">Cuenta
        Destino</label>
      <input type="number" class="form-control in-invalid" id="exampleFormControlInput1 validationTextarea" name="destiny" required
        formControlName="destino">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1 validationTextarea" class="form-label"
        style="font-weight: bold">Valor</label>
      <input type="number" class="form-control in-invalid" id="exampleFormControlInput1 validationTextarea" name="value" required
        formControlName="valor">
    </div>
    <div class="mb-3">
      <button class="btn btn-dark" type="submit" (click)="submit()">Transaferir</button>
    </div>
  </form>
</div> -->
<div class="title">
  <label for="" class="title-accounts-cards">Transferencias</label>
</div>

<expansion-panel [data]="dataPanel" (eventNextBtn)="updateDataLabel()" (eventFinalBtn)="clickTransaction()">
  <ng-template #contentOriginAccount>
    <p>Seleccione la cuenta de origen</p>
    <select name="originAccount" id="selectAcount" [(ngModel)]="acountOrigen">
      <ng-container *ngFor="let acount of listAcounts">
        <option [value]="acount.number">{{acount.number}}</option>
      </ng-container>
    </select>
  </ng-template>
  
  <ng-template #contentDestinyAccount>
    <p>Ingrese la cuenta de destino</p>
    <input type="text">
  </ng-template>
  
  <ng-template #contentValueTransfer>
    <p>Ingrese el valor</p>
    <input type="text">
  </ng-template>
</expansion-panel>